<% if !in_course() then controller.redirect_to courses_path end%>

<body class="breakpoint-1024">
    <div class="container-fluid" style="width: 700px;">
        <div class="page-header">
            <h1  style="text-align: center;">Announcements</h1>
            <div class="clearfix"></div>
        </div>
        <%if @announcements.count == 0 then %>
                    <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media media-clearfix-xs-min">
                        <div class="media-body">
                            <h3 class="media-heading h4">There are no announcements</h3>
                            
                        </div>
                    </div>
                </div>
            </div>
        <%end%>
        <% @announcements.each do |announcement| %>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media media-clearfix-xs-min">
                        <div class="media-left"><span class="media-object icon-block bg-default"><i class="fa fa-github"></i></span></a></div>
                        <div class="media-body">
                            <h3 class="media-heading h4"><%= announcement.title %></h3>
                            <% if current_user.id==announcement.course.owner.id %>
                                <%= link_to 'Edit', edit_course_announcement_path(@course, announcement)%> &nbsp;
                                    <%= link_to 'Destroy', [@course, announcement], method: :delete, data: { confirm: 'Are you sure?' } %>
                                        <% end %>
                                            <p class="small text-muted">
                                                <!-- <i class="fa fa-clock-o fa-fw"></i>4 hrs -->
                                                <i class="fa fa-calendar fa-fw"></i>
                                                <%= announcement.created_at %>
                                            </p>
                                            <p>
                                                <%= announcement.body %>
                                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
            <% if current_user.id==@course.owner.id %>
                <a href="<%=new_course_announcement_path(@course)%>">
                    <button class="btn btn-primary btn-lg" type="submit">Create Announcement</button>
                </a>
            <%end%>
    </div>
</body>
