<% if !in_course() then controller.redirect_to courses_path end%>
<body class="breakpoint-1024">
    <div class="container-fluid">
        <div class="page-header">
            <h1 style="text-align: center;">Assignments</h1>
            <div class="clearfix"></div>
        </div>
        <%if @assignments.count == 0 then %>
                            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media media-clearfix-xs-min">
                        <div class="media-body">
                            <h3 class="media-heading h4">There are no assignments</h3>
                            
                        </div>
                    </div>
                </div>
            </div>
        <%end%>
        <% @assignments.each do |assignment| %>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media media-clearfix-xs-min">
                        <div class="media-left"><a href=""><span class="media-object icon-block bg-default"><i class="fa fa-github"></i></span></a></div>
                        <div class="media-body">
                            <h3 class="media-heading h4"><%= assignment.name %></h3>
                            <% if current_user.id==assignment.course.owner.id %>
                                <td>
                                    <%= link_to 'Edit', edit_course_assignment_path(@course, assignment)%>
                                </td>
                                <td>
                                    <%= link_to 'Destroy', [@course, assignment], method: :delete, data: { confirm: 'Are you sure?' } %>
                                </td>
                                <td>
                                    <a href='/courses/<%=@course.id%>/assignments/<%=assignment.id%>/solutions'> submissions</a>
                                </td>
                                <% end %>
                                    <p class="small text-muted">
                                        <i class="fa fa-clock-o fa-fw"></i>
                                        due: <%= assignment.due_date %>
                                            <i class="fa fa-calendar fa-fw"></i>
                                            created: <%= assignment.created_at.to_s[0..10] %>
                                    </p>
                                    <p>
                                        <%= assignment.description %>
                                    </p>
                                    <% if assignment.attachment!=nil && assignment.attachment.length>1%>
                                    <p>

                                        <%= link_to "Open content", assignment.attachment_url %>
                                    </p>
                                    <%end%>

                                    <%if current_user.id != @course.owner.id  then %>
                                        <%if !submitted_before(assignment.id) then %>
                                            <a href='/courses/<%=@course.id%>/assignments/<%=assignment.id%>/solutions/new'>
                                            <button type="submit" name="commit" class="btn btn-success">Submit</button>
                                            </a>
                                        <%else%>
                                        <p style="text-align: right">You have submit the assignment</p>
                                        <% solution=Solution.where(:course_id => @course.id , :assignment_id => assignment.id ).first%>
                                <%if solution.grade.nil? then %>
                                <p style='font-size: 20px;text-align: right'>Grade: Not graded yet</p>
                                <%else%>
                                    <p style='font-size: 20px;text-align: right'>Grade:
                                        <%=solution.grade%>
                                    </p>
                                    <%end%>
                                        <form action="assignments/<%=assignment.id%>/delete">
                                        <button type="submit" class="btn btn-danger" style="float: right;">Delete submition</button>
                                        </form>
                                        <%end%>
                                    <%end%>
                        </div>
                    </div>
                </div>
            </div>
            <% end %>
                <% if current_user.id==@course.owner.id %>
                    <a href="<%=new_course_assignment_path(@course) %>">
                        <button class="btn btn-primary btn-lg" type="submit">Create Assignment</button>
                    </a>
                    <%end%>
    </div>
</body>
