<body class="login">

<div id="content">
   <div class="container-fluid">
      <div class="lock-container">
         <h1 style="color: black">Create New Account</h1>
         <div class="panel panel-default text-center">
            <img src="http://themekit.aws.ipv4.ro/dist/themes/learning/images/people/110/guy-5.jpg" class="img-circle">
            <br>
            <div class="panel-body">
               <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
               <%= devise_error_messages! %>
               <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, :class => 'form-control' %>
               </div>
               <br>
               <div class="field">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "off" ,:class => 'form-control'%>
               </div>
               <br>
               <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off" ,:class => 'form-control'%>
               </div>
               <input type="hidden" class="form-control" value="password" name="user[is_admin]" id="user_is_admin">
               <br>
               <div class="actions">
                  <%= f.submit "Sign up", :class => 'btn btn-primary' %>
               </div>
               <% end %>
            </div>
         </div>
      </div>
   </div>
</div>
</body>