<br> <br>
<div class="container-fluid">
  <div class="timeline row" data-toggle="isotope">
    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">
        <div class="panel panel-default share clearfix-xs">
          <div class="panel-heading panel-heading-gray title">
            What&acute;s new
          </div>
          <form method="post" action="/post/new">
            <div class="panel-body">
              <textarea name="status" class="form-control share-text" rows="3" placeholder="Share your status..."></textarea>
            </div>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <%= hidden_field_tag :id, current_user.id %>
            <div class="panel-footer share-buttons">
              <a href="#"><i class="fa fa-photo"></i></a>
              <button type="submit" class="btn btn-primary btn-xs pull-right display-none" href="#">Post</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="timeline-block">
        <div class="panel panel-default share clearfix-xs">
          <div class="panel-heading panel-heading-gray title">
            <i class="fa fa-clock-o fa-1x"></i> Upcoming
          </div>
            <div class="panel-body">
              <span class="media-object"><i class="fa fa-pencil-square-o fa-3x"></i></span>
              <span class="media-object"><i class="fa fa-folder-open fa-3x"></i></span>
              <span class="media-object"><i class="fa fa-rss fa-3x"></i></span>
            </div>
        </div>
      </div>
    </div>
    </div>
    <div class="timeline row" data-toggle="isotope">
    <% @posts.each do |post| %>
    <div class="col-xs-12 col-md-6 col-lg-4 item">
      <div class="timeline-block">
        <div class="panel panel-default">

          <div class="panel-heading">
            <div class="media">
              <div class="media-left">
                 <a href="<%="/user/#{post.user.id}/profile"%>">
                  <% if post.user.avatar.url.present? == true then %>
                     
                          <img src=<%=post.user.avatar.url%> alt="" class="profile-img-panel">
                      
                  <% else %>
                            <img src="/login.png" alt="" class="profile-img-panel">
                  <% end %>
                 </a>
              </div>
              <div class="media-body">
              <% if post.user.id == current_user.id then%>
                <a href="<%="/post/#{post.id}/del"%>" class="pull-right text-muted"><%= fa_icon "trash 1x" %></a>
              <% end %>
                <a href="<%="/user/#{post.user.id}/profile"%>"><%=post.user.email.split(/@/).first %></a>

                <span>on <%=post.created_at.to_formatted_s(:long) %></span>
              </div>
            </div>
          </div>

          <div class="panel-body">
          <% if post.user.id == current_user.id then%>
            <%= best_in_place post, :content, :as => :textarea %>
          <% else %>
            <p><%=post.content %></p>
          <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>

</div>