<body class="login">

  <div id="content">
    <div class="container-fluid">

      <div class="lock-container">
        <h1 style="color: black">Log in</h1>
        <div class="panel panel-default text-center">
          <img src="/login.png" width="40" class="img-circle">
          <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true,:class => 'form-control' %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" ,:class => 'form-control'%>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "Log in" ,:class => 'btn btn-primary' %>
            </div>
            <%= render "devise/shared/links" %>
          <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>

</body>