<p id="notice">
    <%= notice %>
</p>

    <body class="breakpoint-1024">
        <div class="container-fluid">
            <div class="page-header">
                <h1 class="h3 pull-left margin-none">Requesters</h1>
                
                <div class="clearfix"></div>
            </div>
            <%count=0%>
            <%@requesters.each do |key,value|%>
                <%count= count +1 %>
                <%=count%>- <%=value%>
                <a href="/courses/<%=@course.id%>/requesters/accept/<%=key%>">
                <button class="btn btn-primary btn-lg" type="submit" >Accept</button>
                </a>
                <a href="/courses/<%=@course.id%>/requesters/<%=key%>/reject">
                <button class="btn btn-primary btn-lg" type="submit" >Reject</button>
                </a>
                
            <%end%> 

        </div>
    </body>
