<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
            <span class="pull-right icon-block double media-object">
            <% if @course.avatar.url.present? == true then %>
                    <img src=<%=@course.avatar.url%> alt="" class="profile-img">
            <% else %>
                <span class="pull-right icon-block double media-object bg-lightred">
                    <i class="fa fa-book"></i>
                </span>
            <% end %>
            </span>

            <% if current_user.id == @course.owner.id  || current_user.is_admin==1 %>
            <span class="pull-right">
                <%= form_for @course, html: { multipart: true } do |f| %>
                <%= f.file_field :avatar ,:required => true %>
                <%= f.submit "Change avatar", class: "btn btn-primary"  %>
            <% end %>
            <% end %>
            </span>
                <div class="media-body">
                    <h3 class="media-heading h4"><%=@course.name%> </h3>
                    <% if current_user %>
                        <% if current_user.id==@course.owner.id ||current_user.is_admin==1%>
                            <%= link_to 'Edit', edit_course_path(@course) %> &nbsp;
                                <%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' } %>
                                    <% end %>
                                    <%end%>
                            <p class="small text-muted">
                                <i class="fa fa-clock-o fa-fw"></i>
                                <%=@course.privacy%>
                                    <i class="fa fa-user fa-fw"></i>
                                    <%=@course.owner.email%>
                                        <i class="fa fa-calendar fa-fw"></i>
                                        <%=@course.created_at%>
                            </p>
                            <p>
                                <%=@course.description%>
                            </p>
                            <% @course.tags.split(",").each do |tag| %>
                                <span class="label label-default"><%=tag%></span>
                        <%end%>
                </div>
            </div>

<!-- Trigger/Open The Modal -->
<button id="myBtn" class="btn btn-primary btn-ms">Show Course Members</button>
            <% if current_user %>
                <%if current_user.id==@course.owner.id&&@course.privacy=="private"%>
                    <a href="/courses/<%=@course.id%>/requesters"> <input class="btn btn-primary btn-ms" type="submit" value="Requesters">
                <%end%>
            <%end%>

            <%if !current_user then %>
                <a href="/courses/<%=@course.id%>/join"> <input class="btn btn-primary btn-ms" type="submit" value="Join Course">
            <%elsif !in_course()  and is_public() then%>
                <a href="/courses/<%=@course.id%>/join"> <input class="btn btn-primary btn-ms" type="submit" value="Join Course">
                </a>
            <%end%>

            <% if current_user %>
                <%if !in_course() and !is_public()  then%>
                    <%if !is_requested_before() %>
                        <a href="/courses/<%=@course.id%>/joinrequest"> <input class="btn btn-primary btn-ms" type="submit" value="Join request">
                        </a>
                    <%else%>
                        <input class="btn btn-primary btn-ms" type="submit" value="request sent" disabled/>
                    <%end%>
                <%end%>
            <%end%>
            <%if in_course() then%>
               <a href="<%=course_announcements_path(@course)%>"> <input class="btn btn-primary btn-ms" type="submit" value="Announcements">
                </a>
                <a href="<%=course_assignments_path(@course)%>"> <input class="btn btn-primary btn-ms" type="submit" value="Assignments">
                <a href="/courses/<%=@course.id%>/quizzes"> <input class="btn btn-primary btn-ms" type="submit" value="Quizzes">
            <%end%>
            </a>
        </div>
    </div>
    <% if current_user %>
        <% if current_user.id==@course.owner.id ||current_user.is_admin==1 %>
        <div class="panel panel-default">
            <div class="panel-body">
                    <h3>New Chapter</h3>
                    <%= form_tag "/chapters", :name => "new_chapter" do %>
                        <label>Name</label>
                        <input type="text" class="form-control" name="chapter[name]" placeholder="Name">
                        <label>Description</label>
                        <textarea class="form-control" name="chapter[description]" placeholder="description"></textarea>
                        <input class="btn btn-primary btn-lg" type="submit" value="Create chapter">
                        <input type="hidden" name="chapter[course_id]" value="<%=@course.id%>">
                    <% end %>
                            
            </div>
        </div>
        <% end %>
    <% end %>
    <div class="panel panel-default">
        <div class="panel-body">
                <h3>Prerequisites</h3>
                <%if @course.prerequisites==nil || @course.prerequisites.length==0 %>
                There is no Prerequisites
                <%else%>
                <%=@course.prerequisites%>
                <%end%>

        </div>
    </div>

    <%if in_course() then%>
        <% @course.chapters.each do |chapter| %>
        <div class="panel panel-default curriculum">
            <div class="panel-heading panel-heading-gray collapsed" data-toggle="collapse" data-target="#curriculum-<%=chapter.id%>" aria-expanded="false">
                <div class="media"><span class="icon-block half pull-left"><i class="fa fa-graduation-cap"></i></span>
                    <div class="media-body">
                        <h4 class="media-heading"><%=chapter.name %></h4>
                         <% if current_user.id==@course.owner.id ||current_user.is_admin==1 %>
                                <%= link_to 'Upload Content', new_content_path(:id => chapter.id)%>
                                <br>
                                <%= link_to 'Edit', edit_chapter_path(chapter) %>
                                <%= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' } %>
                        <% end %>
                        <p class="margin-none"><%=chapter.description%></p>
                    </div>

                </div>
                <span class="collapse-status collapse-open">Open</span>
                 <span class="collapse-status collapse-close">Close</span>
            </div>
            <div class="list-group collapse" id="curriculum-<%=chapter.id%>" aria-expanded="false" style="height: 0px;">
                <% chapter.contents.each do |content| %>
                <div class="list-group-item active" data-target="lesson.html">
                    <div class="table-responsive">
                        <table class="table table-condensed table-borderless margin-none">
                            <tbody>
                                <tr>
                                    <td class="w50"> <%= content.name %></td>
                                    <td><%= link_to "Open content", content.attachment_url %></td>
                                    <% if current_user.id==@course.owner.id ||current_user.is_admin==1 %>
                                    <td class="text-right"><%= button_to "Delete",  content, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{content.name}?" %></td>
                                    <%end%>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <%end%>
            </div>
        </div>
        <%end%>
    <%end%>
    <% if related_courses().count>0%>
    <h2 style="text-align: center"> Related Course </h2>
    <%counter=0%>
    <%related_courses.each do |course|%>
    <%counter=counter+1%>
    <%if counter>3%>
        <%break%>
    <%end%>

    <div class="col-xs-12 col-md-6 col-lg-4 item">
        <div class="timeline-block">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <div class="media">
                        <!-- <div class="media-left">
                            <a href="#">
                                <img src="images/people/50/guy-2.jpg" class="media-object">
                            </a>
                        </div> -->
                        <div class="media-body">
                            <a href="/courses/<%=course.id%>"><%=course.name%></a>
                            <!-- <span>on 15th January, 2014</span> -->
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <p><%=course.description%></p>
                </div>

            </div>
        </div>
    </div>
    <%end%>
    <%end%>
</div>

<!-- Modal --> 
<style>
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {

    padding: 2px 16px;
    height: 250px;
    overflow-y: auto;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
</style>



<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;" >
    <div class="modal-header">
      <span class="close">×</span>
      <h2>Course Members</h2>
    </div>
    <div class="modal-body">
        <div>    
            <h2>Course Owner</h2>
            <% if @course.owner.avatar.url.present? == true then %>
                    <img src=<%=@course.owner.avatar.url%> alt="" class="profile-img">
                    <br>
                    <%= link_to @course.owner.email.split(/@/).first ,"/user/#{@course.owner.id}/profile" %>    
                    <br>
            <% else %>
                    <img src="/login.png" alt="" class="profile-img">
                    <br>
                    <%= link_to @course.owner.email.split(/@/).first ,"/user/#{@course.owner.id}/profile" %>    
                    <br>
            <% end %>

            <h2>Course Members</h2>
            <% user_counter=0
            @course.students.each do |student|
                    user_counter=user_counter+1;
                    if user_counter == 7 then
                        %>
                        <br><br><br>
                        <% user_counter = 0  
                    end

                if student.avatar.url.present? == true then %>
                
                    <img src=<%=student.avatar.url%> alt="" class="profile-img">
                    
                    <%= link_to student.email.split(/@/).first ,"/user/#{student.id}/profile" %>    
                    
            <% else %>
            
                    <img src="/login.png" alt="" class="profile-img">
                
                    <%= link_to student.email.split(/@/).first ,"/user/#{student.id}/profile" %>
                       
             <% end %>
             
            <%end%>
            
        </div>

    </div>
  </div>

</div>

<script>
// Get the modal
var modal = document.getElementById('myModal');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>