<p id="notice"><%= notice %></p>
<style> 
p{
  font-weight: bold;
  color:white;
  }
  </style>


<p> Course Name: <%=@course.name%> </p>
<p> Course Description :<%=@course.description%> </p>
<p>Course privacy :<%=@course.privacy%></p>
<p>Course tags :<%=@course.tags%></p>
<p>Course objectives :<%=@course.objectives%></p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
