<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media"><span class="pull-right icon-block double media-object bg-lightred"><i class="fa fa-github"></i></span>
                <div class="media-body">
                    <h3 class="media-heading h4"><%=@course.name%> </h3>
                    <% if current_user.id==@course.owner.id ||current_user.is_admin==1%>
                        <%= link_to 'Edit', edit_course_path(@course) %> &nbsp;
                            <%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' } %>
                                <% end %>
                                    <p class="small text-muted">
                                        <i class="fa fa-clock-o fa-fw"></i>
                                        <%=@course.privacy%>
                                            <i class="fa fa-user fa-fw"></i>
                                            <%=@course.owner.email%>
                                                <i class="fa fa-calendar fa-fw"></i>
                                                <%=@course.created_at%>
                                    </p>
                                    <p>
                                        <%=@course.description%>
                                    </p>
                                    <% @course.tags.split(",").each do |tag| %>
                                        <span class="label label-default"><%=tag%></span>
                                        <!--  <span class="label bg-purple">New</span> 
                            <span class="label bg-gray-dark">New</span> 
                            <span class="label label-primary">Beginner</span>
                            <span class="label bg-lightred">New</span> 
                            <span class="label bg-brown">New</span>  -->
                                        <%end%>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <% if current_user.id==@course.owner.id ||current_user.is_admin==1 %>
                <h3>New Chapter</h3>
                <%= form_tag "/chapters", :name => "new_chapter" do %>
                    <label>Name</label>
                    <input type="text" class="form-control" name="chapter[name]" placeholder="Name">
                    <label>Description</label>
                    <textarea class="form-control" name="chapter[description]" placeholder="description"></textarea>
                    <input class="btn btn-primary btn-lg" type="submit" value="Create chapter">
                    <input type="hidden" name="chapter[course_id]" value="<%=@course.id%>">
                    <% end %>
                        <% end %>
        </div>
    </div>
    <% @course.chapters.each do |chapter| %>
    <div class="panel panel-default curriculum">
        <div class="panel-heading panel-heading-gray collapsed" data-toggle="collapse" data-target="#curriculum-<%=chapter.id%>" aria-expanded="false">
            <div class="media"><span class="icon-block half pull-left"><i class="fa fa-graduation-cap"></i></span>
                <div class="media-body">
                    <h4 class="media-heading"><%=chapter.name %></h4>
                     <% if current_user.id==@course.owner.id ||current_user.is_admin==1 %>
                            <%= link_to 'Upload Content', new_content_path(:id => chapter.id)%>
                            <br>
                            <%= link_to 'Edit', edit_chapter_path(chapter) %>
                            <%= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                    <p class="margin-none"><%=chapter.description%></p>
                </div>

            </div>
            <span class="collapse-status collapse-open">Open</span>
             <span class="collapse-status collapse-close">Close</span>
        </div>
        <div class="list-group collapse" id="curriculum-<%=chapter.id%>" aria-expanded="false" style="height: 0px;">
            <% chapter.contents.each do |content| %>
            <div class="list-group-item active" data-target="lesson.html">
                <div class="table-responsive">
                    <table class="table table-condensed table-borderless margin-none">
                        <tbody>
                            <tr>
                                <td class="w50"> <%= content.name %></td>
                                <td><%= link_to "Open content", content.attachment_url %></td>
                                <% if current_user.id==@course.owner.id ||current_user.is_admin==1 %>
                                <td class="text-right"><%= button_to "Delete",  content, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{content.name}?" %></td>
                                <%end%>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <%end%>
        </div>
    </div>
    <%end%>
</div>
