<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media"><span class="pull-right icon-block double media-object bg-lightred"><i class="fa fa-github"></i></span>
                <div class="media-body">
                    <h3 class="media-heading h4"><%=@course.name%> </h3>
                    <% if current_user.id==@course.owner.id ||current_user.is_admin==1%>
                        <%= link_to 'Edit', edit_course_path(@course) %> &nbsp;
                            <%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' } %>
                                <% end %>
                                    <p class="small text-muted">
                                        <i class="fa fa-clock-o fa-fw"></i>
                                        <%=@course.privacy%>
                                            <i class="fa fa-user fa-fw"></i>
                                            <%=@course.owner.email%>
                                                <i class="fa fa-calendar fa-fw"></i>
                                                <%=@course.created_at%>
                                    </p>
                                    <p>
                                        <%=@course.description%>
                                    </p>
                                    <% @course.tags.split(",").each do |tag| %>
                                        <span class="label label-default"><%=tag%></span>
                                        <%end%>
                </div>
            </div>

            <%if current_user.id==@course.owner.id%>
            <a href="/courses/<%=@course.id%>/requesters"> <input class="btn btn-primary btn-ms" type="submit" value="Requesters">
            <%end%>

            <%if !in_course() and is_public() then%>
            <a href="/courses/<%=@course.id%>/join"> <input class="btn btn-primary btn-ms" type="submit" value="Join Course">
            </a>
            <%end%>

            <%if !in_course() and !is_public()  then%>
                <%if !is_requested_before() %>
                    <a href="/courses/<%=@course.id%>/joinrequest"> <input class="btn btn-primary btn-ms" type="submit" value="Join request">
                    </a>
                <%else%>
                    <input class="btn btn-primary btn-ms" type="submit" value="request sent" disabled/>
                <%end%>
            <%end%>

           <a href="<%=course_announcements_path(@course)%>"> <input class="btn btn-primary btn-ms" type="submit" value="Announcements">
            </a>
            <a href="<%=course_assignments_path(@course)%>"> <input class="btn btn-primary btn-ms" type="submit" value="Assignments">
            </a>
        </div>
    </div>
    <% if current_user.id==@course.owner.id ||current_user.is_admin==1 %>
    <div class="panel panel-default">
        <div class="panel-body">
                <h3>New Chapter</h3>
                <%= form_tag "/chapters", :name => "new_chapter" do %>
                    <label>Name</label>
                    <input type="text" class="form-control" name="chapter[name]" placeholder="Name">
                    <label>Description</label>
                    <textarea class="form-control" name="chapter[description]" placeholder="description"></textarea>
                    <input class="btn btn-primary btn-lg" type="submit" value="Create chapter">
                    <input type="hidden" name="chapter[course_id]" value="<%=@course.id%>">
                <% end %>
                        
        </div>
    </div>
    <% end %>
    <div class="panel panel-default">
        <div class="panel-body">
                <h3>Prerequisites</h3>
                <%if @course.prerequisites==nil || @course.prerequisites.length==0 %>
                There is no Prerequisites
                <%else%>
                <%=@course.prerequisites%>
                <%end%>

        </div>
    </div>
    <% @course.chapters.each do |chapter| %>
    <div class="panel panel-default curriculum">
        <div class="panel-heading panel-heading-gray collapsed" data-toggle="collapse" data-target="#curriculum-<%=chapter.id%>" aria-expanded="false">
            <div class="media"><span class="icon-block half pull-left"><i class="fa fa-graduation-cap"></i></span>
                <div class="media-body">
                    <h4 class="media-heading"><%=chapter.name %></h4>
                     <% if current_user.id==@course.owner.id ||current_user.is_admin==1 %>
                            <%= link_to 'Upload Content', new_content_path(:id => chapter.id)%>
                            <br>
                            <%= link_to 'Edit', edit_chapter_path(chapter) %>
                            <%= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                    <p class="margin-none"><%=chapter.description%></p>
                </div>

            </div>
            <span class="collapse-status collapse-open">Open</span>
             <span class="collapse-status collapse-close">Close</span>
        </div>
        <div class="list-group collapse" id="curriculum-<%=chapter.id%>" aria-expanded="false" style="height: 0px;">
            <% chapter.contents.each do |content| %>
            <div class="list-group-item active" data-target="lesson.html">
                <div class="table-responsive">
                    <table class="table table-condensed table-borderless margin-none">
                        <tbody>
                            <tr>
                                <td class="w50"> <%= content.name %></td>
                                <td><%= link_to "Open content", content.attachment_url %></td>
                                <% if current_user.id==@course.owner.id ||current_user.is_admin==1 %>
                                <td class="text-right"><%= button_to "Delete",  content, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{content.name}?" %></td>
                                <%end%>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <%end%>
        </div>
    </div>
    <%end%>
    <% if related_courses().count>0%>
    <h2 style="text-align: center"> Related Course </h2>
    <%counter=0%>
    <%related_courses.each do |course|%>
    <%counter=counter+1%>
    <%if counter>3%>
        <%break%>
    <%end%>

    <div class="col-xs-12 col-md-6 col-lg-4 item">
        <div class="timeline-block">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <div class="media">
                        <!-- <div class="media-left">
                            <a href="#">
                                <img src="images/people/50/guy-2.jpg" class="media-object">
                            </a>
                        </div> -->
                        <div class="media-body">
                            <a href="/courses/<%=course.id%>"><%=course.name%></a>
                            <!-- <span>on 15th January, 2014</span> -->
                        </div>
                    </div>
                </div>

                <div class="panel-body">
                    <p><%=course.description%></p>
                </div>

            </div>
        </div>
    </div>
    <%end%>
    <%end%>
</div>
