<% if current_user.id!=@course.owner.id then controller.redirect_to courses_path end%>
    <p id="notice">
        <%= notice %>
    </p>

    <body class="breakpoint-1024">
        <div class="container-fluid">
            <div class="page-header">
                <h1 class="h3 pull-left margin-none">Solutions</h1>
                <div class="clearfix"></div>
            </div>
            <% @solutions.each do |solution| %>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media-body">
                            <%if solution.grade.nil? then %>
                                <p style='font-size: 20px;text-align: right'>Grade: Not graded yet</p>
                                <%else%>
                                    <p style='font-size: 20px;text-align: right'>Grade:
                                        <%=solution.grade%>
                                    </p>
                                    <%end%>
                                        <p style='font-size: 20px'>email:
                                            <%=User.find(solution.student_id).email%>
                                        </p>
                                        <p style='font-size: 20px'>submitted at:
                                            <%=solution.created_at%>
                                        </p>
                                        <p>
                                            <%= link_to "Open content", solution.attachment_url ,{:style=>'color:#FFFFFF;', :class => "btn btn-primary"}%>

                                                
               <%= form_tag "/solutions/"+solution.id.to_s, :name => "update", :method => "put" do %>
                                                <label>Grade: </label><input name='solution[grade]' type="number" step="any">
                                                    <input  type='submit' value='submit' class='btn btn-primary '>
                                                 <% end %>
                                        </p>

                        </div>
                    </div>
                </div>

        </div>
        <% end %>
    </body>



