<!DOCTYPE html>
<html class="st-layout ls-top-navbar ls-bottom-footer" lang="en">
<head>
  <title>Fcilms</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="st-container">

    <!-- Fixed navbar -->
    <div class="navbar navbar-main navbar-primary navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/home/index">FCILMS</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-nav">
          <ul class="nav navbar-nav">
            
            <li><a href="/courses">All Courses</a></li>
            <% if user_signed_in? -%>
            <li><a href="/journal/browse">Journal</a></li>
            <% else %>
            <li><a href="/home/about">About</a></li>
            <li><a href="/home/contact">Contact</a></li>
            <% end %>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            
            <% if user_signed_in? -%>
            <li><a href="/courses/mycourses">My Courses</a></li>
            <li><a href="/courses/studying">Studying</a></li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle user" data-toggle="dropdown" style="padding-top: 0;">
              <% if current_user.avatar.url.present? == true then %>
                      <img src=<%=current_user.avatar.url%> alt=""class="img-circle" width="40">
              <% else %>
                        <img src="/login.png" alt="" class="img-circle" width="40">
              <% end %>
              <%=current_user.email.split(/@/).first %> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/user/profile">Profile</a></li>
                <li><a href="http://themekit-v4.themekit.io/dist/themes/social-3/user-private-messages.html">Messages</a></li>
                <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
              </ul>
            </li>
            <% else %>

            <li><a href="/users/sign_in">Log In</a></li>
            <%end%>
          </ul>
        </div>
        <!-- /.navbar-collapse -->

      </div>
    </div>

<div class="st-content-inner">
<%= yield %>
</div>
  <footer class="footer">
      <strong>FCI-LMS</strong> v1.0.0 &copy; Copyright 2015 <a href="/home/contact">Contact</a> | <a href="/home/about"> About</a>
      <ul>
        <li></li>
        <li></li>
      </ul>
    </footer>
</div>
</body>
</html>
